<!-- <ion-backdrop> -->

  <ion-header>
    <ion-toolbar>
      <ion-title>
        <h4>
          Добавить участок
        </h4>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <ion-input #nameInTmpl
                required=true
                type="text"
                placeholder="Напишите здесь название участка">
    </ion-input>
    <p>например: пр. Юбилейный, 12, п. 1</p>
    <div class="btnContain">
      <ion-button (click)="addAdress(nameInTmpl.value); nameInTmpl.value = ''"
                  color="success"
                  expand='block'
                  fill="solid"
                  shape="round"
                  type="button">
        <ion-icon name="add" size='large'></ion-icon>
      </ion-button>
    </div>

  </ion-content>
